.bgc-trans {
	width: 45px;
	.ant-select-selection.ant-select-selection--single {
		border: none;
		background-color: transparent;
		.ant-select-selection__rendered {
			margin: 0;
			font-size: 30px;
			line-height: 20px;
			.ant-select-selection-selected-value {
				padding-top: 7px;
				padding-left: 3px;
			}
		}
	}
}
