.user-name{
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.title{
  display: block;
  margin-bottom: 20px;
 }

.add-user{
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.ant-form-item{
  display: flex;
  align-items: center;
}

.ant-checkbox-group-item{
  display: block;
}


@media only screen and (max-width: 426px) {
  .title{
    text-align: center;
  }
  
  .dish-detail{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    margin-bottom: 20px;
    grid-gap: 10px;
    width: 100%
  }

  .add-user{
    position: unset;
    margin: 0 auto;
    display: block;
  }

  .ant-form-item{
    display: block
  }
}

.cb{
  padding: .5rem;
  width: 100%;
}

.cb > .ant-checkbox-group-item {
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  flex-direction: row-reverse
}

