.user-name{
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.title{
  display: block;
  margin-bottom: 20px;
 }

.add-user{
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.ant-form-item{
  display: flex;
  align-items: center;
}

.ant-checkbox-group-item{
  display: block;
}
