.dish-detail{
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.select-site{
  width: 50%;
  margin-bottom: 20px;
}

.title{
  display: block;
  margin-bottom: 20px;
 }

.dish-name{
  width: 200px;
}

@media only screen and (max-width: 426px) {
  .title{
    text-align: center;
  }

  .select-site{
    width: 100%;
  }
  
  .dish-detail{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    margin-bottom: 20px;
    grid-gap: 10px;
    width: 100%
  }

}