.report-menus {
	margin: 1rem;
	.ant-collapse-header {
		background: #f5f5f5;
	}
	.style-btn,
	span.style-btn > button {
		height: inherit;
		width: 3rem;
		color: red;
	}
	span.style-btn:hover {
		cursor: pointer;
	}
	.disable-button {
		color: gray;
	}
	.ant-collapse-content > .ant-collapse-content-box {
		padding: 0.6rem;
	}
	.ant-collapse-extra {
		float: none;
		position: absolute;
		top: 50%;
		right: 1rem;
		line-height: 0;
		text-align: center;
		transform: translateY(-50%);
	}
}
