{
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					"browsers": ["> 1%", "last 2 versions"]
				},
				"modules": "commonjs"
			}
		],
		"@babel/preset-flow",
		"@babel/preset-react"
	],
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"decoratorsBeforeExport": true
			}
		]
	]
}
