.dish-detail {
	grid-template-columns: repeat(3, 1fr);
	display: grid;
	grid-gap: 10px;
	padding: 5px;
}

.dish-name {
	width: 200px;
}

.report {
	padding: 15px;
}

.style-btn,
span.style-btn > button {
	height: inherit;
}

.ant-collapse.open-menu
	> .ant-collapse-item
	> .ant-collapse-header
	.ant-collapse-extra,
.ant-collapse.open-dishes
	> .ant-collapse-item
	> .ant-collapse-header
	.ant-collapse-extra {
	float: none;
	position: absolute;
	top: 50%;
	right: 16px;
	line-height: 0;
	text-align: center;
	transform: translateY(-50%);
}

.display-none {
	display: none;
}
