.dish-detail {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dish-name{
  width: 200px;
}

.title{
 display: block;
 margin-bottom: 20px;
}

.add-dish{
  margin-right: 20px;
}

.wrap-btn{
  position: absolute;
  bottom: 24px;
  left: 24px;
}

@media only screen and (max-width: 426px) {
  .title{
    text-align: center;
  }
  
  .dish-detail{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    margin-bottom: 20px;
    grid-gap: 10px;
    width: 100%
  }

  .wrap-btn{
    position: unset;
  }
}