$bg-dashboard: url('../../../assets/images/bg-dashboard.jpg');

#layout-dashboard {
	background: $bg-dashboard;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	height: calc(100vh - 44px);
}
