.select-site{
  width: 50%;
  margin-bottom: 20px;
}

.title {
  display: block;
  margin-bottom: 20px; 
}

.menu{
  display: flex;
  margin-bottom: 20px;
}

.add-menu{
  /* position: absolute;
  bottom: 24px;
  left: 24px; */
}

@media only screen and (max-width: 426px) {
  .menu{
    display: block;
    width: 100%;
  }

  .select-site{
    width: 100%;
  }

  .title{
    text-align: center;
  }
  
  .add-menu{
    margin: 10px auto 0;
    display: block
  }
}