#components-layout-demo-custom-trigger .trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
	color: #ff4d4f;
}

#components-layout-demo-custom-trigger .logo {
	/* height: 32px; */
	/* background: url('https://www.fontspace.com/api/renderfont4/1XOe/eyJyIjoiZ2RpIiwiaCI6MzYsInciOjEwMDAsImZzIjozNiwiZmdjIjoiIzAwMDAwMCJ9/Y2huaXJ0/signerica-fat.png'); */
	/* margin: 16px; */
	position: relative;
	height: 64px;
	padding-left: 24px;
	overflow: hidden;
	line-height: 64px;
	background: #fff;
	transition: all 0.3s;
	box-shadow: 1px 1px 0 0 #e8e8e8;
}

#components-layout-demo-custom-trigger .logo img {
	display: inline-block;
	height: 32px;
	vertical-align: middle;
}

#components-layout-demo-custom-trigger .logo h1 {
	display: inline-block;
	margin: 0 0 0 12px;
	color: #000;
	font-weight: normal;
	font-size: 30px;
	/* font-family: 'Satisfy', cursive; */
	font-family: 'Allura', cursive;
	vertical-align: middle;
	font-style: italic;
}

.antd-pro-components-setting-drawer-index-handle {
	position: absolute;
	top: 120px;
	right: 300px;
	border-radius: 4px 0 0 4px;
	cursor: pointer;
	pointer-events: auto;
}
