@import './assets/fonts/DancingScript-Bold.ttf';
@import './assets/fonts/DancingScript-Regular.ttf';
@import './assets/fonts/Allura-Regular.ttf';
@import './assets/fonts/Lobster-Regular.ttf';
@import './assets/fonts/Vietnamese.ttf';

@font-face {
	font-family: ABC;
  src: url('./assets/fonts/Lobster-Regular.ttf');
}

$odd-row-background-color: #ffccc7;

$border-color: #ff4d4f;
$secondary-foreground-color: #ff4d4f;
$selected-color: #ff4d4f;

$ag-icons-path: '../node_modules/ag-grid-community/src/styles/ag-theme-balham/icons/';

@import '../node_modules/ag-grid-community/src/styles/ag-grid.scss';
@import '../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss';

body {
	margin: 0;
	padding: 0;
	font-family: ABC;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
