@import './assets/fonts/DancingScript-Bold.ttf';
@import './assets/fonts/DancingScript-Regular.ttf';

$logo-img: url('./assets/images/logo-vertical.png');

$odd-row-background-color: #ffccc7;

$border-color: #ff4d4f;
$secondary-foreground-color: #ff4d4f;
$selected-color: #ff4d4f;

$ag-icons-path: '../node_modules/ag-grid-community/src/styles/ag-theme-balham/icons/';

@import '../node_modules/ag-grid-community/src/styles/ag-grid.scss';
@import '../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss';

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#components-layout-demo-fixed {
	.logo {
		width: 120px;
		height: 31px;
		background: $logo-img;
		margin: 16px 24px 16px 0;
		float: left;
	}
}
